<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oszero.deliver.server.web.mapper.MessageRecordMapper">

    <resultMap id="BaseResultMap" type="com.oszero.deliver.server.model.entity.MessageRecord">
            <result property="traceId" column="trace_id" jdbcType="VARCHAR"/>
            <result property="templateId" column="template_id" jdbcType="BIGINT"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
            <result property="messageStatus" column="message_status" jdbcType="TINYINT"/>
            <result property="userType" column="user_type" jdbcType="TINYINT"/>
            <result property="pushUser" column="push_user" jdbcType="VARCHAR"/>
            <result property="channelType" column="channel_type" jdbcType="TINYINT"/>
            <result property="messageType" column="message_type" jdbcType="TINYINT"/>
            <result property="pushRange" column="push_range" jdbcType="TINYINT"/>
            <result property="retried" column="retried" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>
